$cinza: #606363;
$azul: #4764AF;
$turquesa: #55ABB9;
$verde: #BED73B;
$amarelo: #FFC233;
$laranja: #F58233;
$vermelho: #F15B5B;
$branco: #FFFFFF;
$preto: #000000;

// $colors: (
//     "cinza": $cinza,
//     "azul": $azul,
//     "turquesa": $turquesa,
//     "verde": $verde,
//     "amarelo": $amarelo,
//     "laranja": $laranja,
//     "vermelho": $vermelho,
// );

$font-family: 'Poppins', sans-serif;